header .logo {
  float: left;
}

nav {
  z-index: 10;
}

nav.sub-navbar {
  z-index: 1;
}

.navbar .navbar-collapse {
  text-align: center;
}

.navbar .navbar-nav.navbar-center {
  position: absolute;
  left: 50%;
  margin-left: -100px;
  float: none;
}

.navbar .navbar-nav.navbar-center li {
  width: 100px;
}

.sub-navbar {
  top: 50px;
  height: 50px !important;
}

.sub-navbar.navbar .navbar-nav {
  display: inline-block;
  float: none;
  text-align: center;
}

.main-container {
  margin-top: 20px;
}

.article-box {
  margin: 10px;
  padding: 10px;
  background: #ccc;
}

.sidebar {
  position: fixed;
  height: 100%;
  right: 0;
  padding-top: 20px;
  background: #cccccc;
}

.search-input {
  position: relative;
  left: auto;
  right: 0;
}

.search-input > i {
  position: absolute;
  margin: 9px 2px 4px 10px;
  width: 16px;
  font-size: 16px;
  left: auto;
  right: 8px;
  float: right;
  display: inline-block;
  text-align: center;
}

.search-input > .form-control {
  padding-right: 33px;
  padding-left: 12px;
}
