{% load staticfiles %}
<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <title>티끌모아태산</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta content="width=device-width, initial-scale=1" name="viewport"/>
  <meta content="티끌모아태산" name="description"/>
  <meta content="티모태" name="author"/>
  <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link href="{% static 'style.css' %}" rel="stylesheet" type="text/css"/>
</head>
<body>
{% block header %}{% include 'header.html' %}{% endblock %}
<div class="container">
  {% block body %}
    <div class="row">
      <div class="col-md-10">
        <div class="main-container row">
          {% block main %}{% endblock %}
        </div>
      </div>
      <div class="sidebar col-md-2">
        {% include 'sidebar.html' %}
      </div>
    </div>
  {% endblock %}
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src="{% static 'script.js' %}"></script>
</body>
</html>