{% extends 'base.html' %}
{% block body %}
  <form method="post" action="{% url 'write' %}">
    {% csrf_token %}
    {% for field in form %}
      <div class="fieldWrapper">
        {{ field.errors }}
        {{ field.label_tag }} {{ field }}
        {% if field.help_text %}
          <p class="help">{{ field.help_text|safe }}</p>
        {% endif %}
      </div>
    {% endfor %}
    <input type="submit" value="확인"/>
  </form>
{% endblock %}