{% extends 'base.html' %}
{% load staticfiles %}
{% block body %}
  <h1>Group Detail</h1>
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
      <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <img src="{% static 'img/1.png' %}">
      </div>

      <div class="item">
        <img src="{% static 'img/2.png' %}">
      </div>

      <div class="item">
        <img src="{% static 'img/1.png' %}">
      </div>

      <div class="item">
        <img src="{% static 'img/2.png' %}">
      </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  {{ object }}
{% endblock %}