<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">티모태</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-center">
        <li{% if menu == 'n' %} class="active"{% endif %}><a href="{% url 'newsfeed' %}">뉴스피드</a></li>
        <li{% if menu == 's' %} class="active"{% endif %}><a href="{% url 'select' '정기 후원' %}">기부 선택</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            이영인 <i class="fa fa-gear"></i> <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li><a href="{% url 'logout' %}">로그아웃</a></li>
            {#                <li role="separator" class="divider"></li>#}
            {#                <li class="dropdown-header">Nav header</li>#}
            {#                <li><a href="#">Separated link</a></li>#}
            {#                <li><a href="#">One more separated link</a></li>#}
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>