{% extends 'base.html' %}
{% block main %}
  {% for article in object_list %}
    <div class="col-md-6">
      <div class="article-box">
        <p>{{ article.title }} ({{ article.written }})</p>
        <p>{{ article.content }} ({{ article.like }})</p>
        <br>
      </div>
    </div>
  {% endfor %}
{% endblock %}