{% extends 'base.html' %}
{% block header %}{% endblock %}
{% block body %}
  {% if mes %}<p>{{ mes }}</p>{% endif %}
  <form method="post">
    {% csrf_token %}
    <input type="text" name="username" class="form-control" placeholder="계정" required autofocus/>
    <input type="password" name="password" class="form-control" placeholder="비밀번호" required/>
    <br>
    <button type="submit" class="btn btn-block">확인</button>
  </form>
{% endblock %}