{% extends 'base.html' %}
{% block header %}
  {{ block.super }}
  <nav class="navbar navbar-default navbar-fixed-top sub-navbar">
    <div class="container-fluid">
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          {% for tab in tabs %}
            <li{% if tab.cur %} class="active"{% endif %}><a href="{% url 'select' tab.name %}">{{ tab.name }}</a></li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </nav>
{% endblock %}
{% block main %}
  <p>Lists</p>
  {% for item in object_list %}
    <div class="col-md-6">
      <div class="card-box">
        {% if item.is_group %}
          <a href="{% url 'detail' 'group' item.group.id %}">{{ item }}</a>
        {% else %}
          <a href="{% url 'detail' 'donation' item.id %}">{{ item }}</a>
        {% endif %}
      </div>
    </div>
  {% empty %}
    <p>Nothing.</p>
  {% endfor %}
{% endblock %}