<div class="sidebar-body">
  <form>
    <div class="form-body">
      <div class="form-group">
        <div class="search-input">
          <i class="fa fa-search"></i>
          <input class="form-control" type="text" name="search"/>
        </div>
      </div>
    </div>
  </form>
  <p>정렬</p>
  <ul>
    <li>최신순</li>
    <li>인기순</li>
  </ul>
</div>